.keyboard {
	border: 1px solid #000;
	border-radius: 50px;
	max-width: fit-content;
	margin: 20px auto;
	padding: 15px;
	text-align: center;
}
.row1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    line-height: 2.8rem;
    text-align: center;
}
.row1 > div {
	margin: auto;
	width: 3rem;
	height: 3rem;
	border-radius: 10px;
    border: 1px solid #000;
}
.row2 {
    line-height: 2.8rem;
    text-align: center;
}
.row2 > div {
	margin: 5px;
	width: 3.2rem;
	height: 3rem;
    border-radius: 10px;
	background-color: #fff;
	border: 1px solid #000;
	display: inline-block;
}
.row3 > div {
	margin: 5px;
	width: 3.4rem;
	height: 3rem;
	border-radius: 10px;
	background-color: #fff;
	border: 1px solid #000;
	display: inline-block;
	text-align: center;
}
.row3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    line-height: 2.8rem;
    text-align: center;
}
.row1 > div:hover {
	background-color: #000;
	color: #fff;
    cursor: pointer;
    
}
.row2 > div:hover {
    cursor: pointer;
	background-color: #000;
	color: #fff;
}
.row3 > div:hover {
    cursor: pointer;
	background-color: #000;
	color: #fff;
 

}
.guess-board {
    max-width: fit-content;
    
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
}
.row-of-word {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 2.8rem;
    text-align: center;
}
.row-of-word > div {
    margin: 5px;
    width: 3.2rem;
    height: 3rem;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #000;
    
   
    line-height: 2.8rem;
    text-align: center;
  
}
